* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */

    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
    /* background-color: black; */
    /* color: #fff; */

    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
}

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;

    background-color: rgb(56, 56, 56);
    color: white;
}

.grid-container {
    gap: 6rem;
    margin-top: 3rem;

    justify-content: center;
    padding: 3rem;
    /* height: auto;
    width: auto; */
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 2fr 2fr;
    grid-template-columns: 1fr;
}

.header {
    text-align: center;
}

.score {
    display: flex;

    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 10rem;
    width: auto;
    /* border: solid yellow 0.2rem; */
}

.score-box {
    display: flex;
    align-items: center;
    justify-content: center;

    /* height: 12rem;
    width: 12rem; */
    /* border: solid yellow 0.2rem; */
}

.result-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    height: 7rem;
    transition: all 1000ms ease-in;

    /* visibility: visible; */
}

.result-container:target {
    /* transition: all 300ms ease-in; */
}

.result-container.--visible {
    transition: all 100ms ease-in;
}

.result-container.--hidden {
    opacity: 0;
    transition: all 100ms ease-out;
}
.result-game {
    padding-top: 3;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.btn {
    background: none;
    border: solid 4px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 10px;
    color: inherit;

    height: 5rem;
    width: 20rem;
    transition: all 300ms;
}

.btn:hover {
    border: solid white 4px;
    color: black;
    background: white;
    transition: all 300ms;
}

/* MODAL WINDOW */
.modal {
    --gap: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgba(0, 0, 0, 0.5);
    color: black;
}

.modal__inner {
    background: #fff;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 4px;
}

.modal__top {
    /* display: flex;
    align-items: center; */
    background-color: #eeeeee;
}

.modal__title {
    padding: var(--gap);
    font-size: 20px;
    text-align: center;
}

.modal__close {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--gap);
    background: none;
    border: none;
    outline: none;
}

.modal__content {
    padding: 50px;
    line-height: 1.5;
}

.modal__bottom {
    text-align: right;
    padding: 0 var(--gap) var(--gap) var(--gap);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

    /* gap: 50px; */
}

.modal__button {
    display: inline-block;
    padding: 6px 12px;
    background-color: #fff;
    color: black;
    border: solid 3px black;
    outline: none;
    border-radius: #fff;
    cursor: pointer;
    font-size: 18px;
    font: inherit;
    border-radius: 3px;

    width: autopx;
    height: 40px;

    margin-left: 25px;
}

.modal__button:hover {
    background-color: black;
    color: #fff;
}
